In [0]:
select * from jpm.vaibhav_bronze.customer_bronze limit 5

In [0]:
CREATE OR REPLACE TABLE jpm.vaibhav_silver.silver_customer AS
SELECT
    cust_id,
    name,
    CAST(age AS INT) AS age,
    gender,
    birthday,
    cast(zip as int) as zip,
    REPLACE(city, '_', ' ') AS city
FROM jpm.vaibhav_bronze.customer_bronze;

In [0]:
--CREATE OR REPLACE TABLE jpm.vaibhav_silver.silver_customer AS
SELECT
    cust_id,
    name,
    CAST(age AS INT) AS age,
    gender,
    birthday,
    cast(zip as int) as zip,
    REPLACE(city, '_', ' ') AS city
FROM jpm.vaibhav_bronze.customer_bronze;

In [0]:
select * from jpm.vaibhav_silver.silver_customer limit 5

In [0]:
select * from jpm.vaibhav_bronze.transactions_bronze limit 5

In [0]:
CREATE OR REPLACE TABLE jpm.vaibhav_silver.silver_transaction AS
SELECT DISTINCT
    cust_id,
    start_date,
    end_date,
    txn_id,
    date,
    year,
    month,
    day,
    expense_type,
    CAST(amt AS DECIMAL(10,2)) AS amt,
    REPLACE(city, '_', ' ') AS city
FROM jpm.vaibhav_bronze.transactions_bronze;